snippet p
	\paragraph{}

snippet alph
	\begin{enumerate}[label=(\alph*).]

	\end{enumerate}

snippet align
	\begin{align*}

	\end{align*}

snippet eq
	\begin{equation}

	\end{equation}

snippet piecewise
	\[ f(x) = \begin{cases}
	    0 & x = 0 \\
	    1 & x = 1 \\
	    2 & x = 2 \\
	    \end{cases}
	\]

snippet enum
	\begin{enumerate}

	\end{enumerate}
